.ot-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100000;
}

.ot-overlay > .backdrop
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: auto;
}

.ot-overlay > .content
{
    position: absolute;
    width: fit-content;
    max-width: 100%;
    pointer-events: auto;
}
